<div id="container">
    <div id="header"><h1>Sports News</h1>
    <nav>
    <a routerLink="/home" class="navBar" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="/latest-article" class="navBar" routerLinkActive="active">Lates News</a>
    <a routerLink="/all-articles" class="navBar" routerLinkActive="active">Show All News</a>
    <a routerLink="/log-In" class="navBar" routerLinkActive="active">Login</a>
    <a routerLink="/new-article" class="navBar" routerLinkActive="active">Add Article</a>
    </nav>
    </div>
  
  
    <div id="body">
      <router-outlet></router-outlet>
    </div>
    
    <div id="footer">
      <ul>
      <li class="list">
        <a href="#!">About us</a>
      </li>
      <li class="list">
        <a href="#!">Contact</a>
      </li>
      <li class="list">
        <a href="#!">Address</a>
      </li>
      <li class="list">
        <a href="#!">Visit us</a>
      </li>
    </ul>
  </div>
  </div>
  
  
  
  